@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>PICARAS CLOSET</h1>
    <p class="lead">Este es el sistema de administración de la tienda OnLine de Picaras Closet</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg btn-about">Más Información acerca de:</a></p>
</div>
