@{
    ViewBag.Title = "Confirmar Email";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Gracias por confirmar tu Email. Por favor @Html.ActionLink("Haz click aquí para Loguearte", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
