@model Picaras.Model.Entities.Customer
@{
     Layout = "~/Views/Shared/_RememberLayout.cshtml";
}

@using (Html.BeginForm("ActivateAccount", "Register"))
{
    <div class="form-group">
        <label>Introduce el código de verificación para activar tu cuenta</label>
        <input type="hidden" name="customerId" value="@Model.CustomerId" />
        <input class="" type="text" name="code" required />
        <input type="submit" value="Envíar código" />
    </div>
}
