@{
    Layout = "../Shared/_RememberLayout.cshtml";
}
@using (Html.BeginForm("SendEmailToReset", "Login", FormMethod.Post))
{
    <label>Introduce el email para mandar tus credenciales</label>
    <input type="text" name="email" required />
    <input type="submit" value="Envíar código" />
}
